@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'daisyui' {
	themes: dark --default;
}

@layer base {
	@theme {
		--font-sans: 'HPSimplified', system-ui, sans-serif;
	}

	@font-face {
		font-family: 'HPSimplified';
		src: url('/fonts/HPSimplified.ttf') format('truetype');

		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
}

/* View Transitions */
@view-transition {
	navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.3s;
}

::view-transition-old(channel-card),
::view-transition-new(channel-card) {
	animation-duration: 0.4s;
}

::view-transition-old(channel-avatar),
::view-transition-new(channel-avatar) {
	animation-duration: 0.5s;
}

.channel-card {
	view-transition-name: channel-card;
}

.channel-avatar {
	view-transition-name: channel-avatar;
}
